#chatarea {
  min-height: 80vh;
  max-height: 80vh;
  overflow-y: auto;
}

#bottom {
  z-index: 10;
  width: 96%;
  margin-left: auto;
  box-sizing: border-box;
  margin-right: auto;
  display: block;
}
